body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 35px;
}

#supportHero {
  background-color: #4242420e;
  display: flex;
  justify-content: space-between;
  
}

#supportPortal {
  padding-left: 8rem;
}

#myTicket {
  padding-right: 8rem;
}

#searchBar {
  padding-left: 8rem;
  margin-bottom: 4rem;
}

#searchBar input {
  padding: 0.75rem 4rem;
  width: 90%;
}
